<div class="main">
    <div class="main-content full-width">
        <div class="section full-height">
                <div class="layer-container">
                        <div class="layer">
                            <div class="bgimg-container" style="background-image: url(./assets/images/hero-image.jpg);">
                            
                                <div class="bgimg-container-content">
                                    <div class="half left">
                                        <div class="row box-container">
                                            <div class="box main-box bg-white right">
                                                <h1 class="txt-align-right">
                                                    1er spécialiste<br>
                                                    de la rénovation <br>
                                                    énergétique
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="row box-container">
                                            <div class="box scnd-box bg-white m-r-50 right">
                                                <p class="txt-align-right"> Diagnostiques,<br> aides financières,<br> conseils...</p>
                                                <p class="txt-align-right"><b>Effy vous accompagne <br> dans votre projet</b></p>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="half right">
                                        <div class="box bg-gradient">
                                            <div class="c-white">
                                                <h3 class="box-title">Dites nous en plus sur votre projet !</h3>
                                                <p class="box-txt"> Un de nos experts en travaux de rénovation énergétique répondra gratuitement à vos questions.</p>
                                            </div>
                                            <div class="outerbox bg-white">
                                                Mon projet concerne des travaux d'isolation
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            
                            </div>
                        </div>
                </div>
        </div>
    </div>
    
</div>