<div class="main-content--full-width">
    <div class="section full-height">
            <div class="layer-container">
                    <div class="layer">
                        <img src="./assets/images/hero-image.jpg" alt="">
                    </div>
                    <div class="layer">
                        <div class="half left">
                            <div class="box bg-white">
                                <h1>
                                    BLABLABLABLABLABLA <br>
                                    blablabla
                                </h1>
                            </div>
                            <div class="box no-bg">
                                <p> Diagnostiques, aides financières, conseils...</p>
                                <p><b>Effy vous accompagne dans votre projet</b></p>
                            </div>

                        </div>

                        <div class="half right">
                            <div class="box bg-gradient">
                                <h3>Ici un titre en quelques mots</h3>
                                <p>Ici une description tres interessante sur deux lignes vraiment tres jolies n'est ce pas ?</p>

                                <div class="outerbox bg-white">
                                    Ici t'as une box qui glisse comme tu veux
                                </div>
                            </div>
                        </div>
                        
                    </div>
            </div>
    </div>
</div>
