<div class="step">

    <div class="step-eligibilite-confirmation">
        
        <div class="content">

            <h2 class="eligibilite-title">Vous êtes éligible à l'offre 1€ pour vos travaux de :</h2>

            <div class="eligible-worktypes">

                <div class="worktype-item">
                    <div class="worktype-item-visual">
                        <div class="worktype-picto"></div>
                        <div class="validation-picto"></div>
                    </div> 
                    <p class="worktype-label">
                        Name of the worktype here
                    </p>
                </div>

            </div>

            <h1>Quelle est la prochaine étape ?</h1>
            <p>Un conseiller vous contactera dans les prochains jours pour valider votre projet</p>

        </div>

    </div>

</div>