
:host{
    background: #f1f1f1;
    flex: 1 0 auto;
}

@mixin bg-layoutbuild {
    background: rgba($color: #ffffff, $alpha: .5);
}

.step{
    padding: 16px;
    min-height: 100%;
    background: #b1b1b1;

    .step-eligibilite-confirmation {
        max-width: 780px;
        padding: 16px;
        margin: 0 auto;
        color: #003250;
    }

    .step-header{
        @include bg-layoutbuild;
        margin-bottom: 20px;
    }

    .step-content{
        @include bg-layoutbuild;
        display: flex;
        flex-direction: row;
    }

    .cards-column{
        @include bg-layoutbuild;
        flex: 1 0 auto;

        .card {
            background: white;
            margin-bottom: 16px;
            padding: 16px;
            border-radius: 8px;

            .card-header {
                background: #00000014;
                display: flex;
                flex-direction: row;
                margin-bottom: 24px;

                .work-icon {
                    margin-right: 8px;
                    background: #00000021;
                    display: flex;
                    height: 44px;
                    width: 44px;
                    justify-content: center;
                    align-items: center;
                }

                .work-label {
                    display: flex;
                    background: #00000021;
                    flex: 1 0 auto;
                    align-items: center;
                }
            }

            .card-body{
                .help-list {
                    .help-list-item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 8px 0;
                        background: #00000014;
                        border-top: 1px solid rgba(0,0,0,0.15);

                        &:last-child{
                            border-bottom: 1px solid rgba(0,0,0,0.15); 
                        }

                        .item-description {
                            flex: 1 0 auto;
                        }

                        .item-info {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            border: 1px solid black;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }


        }
    }

    .bloc-promo-column{
        @include bg-layoutbuild;
        width: 300px;
        margin-left: 16px;

        .bloc-promo {
            background: #003250;
            color: white;
            padding: 16px;
            border-radius: 8px;
            position: sticky;
            top: 160px;
        }
    }
}

