<div class="step">

    <div class="step-eligibilite-confirmation">

        <div class="step-header">
            <h1 class="step-header-title">Estimation</h1>
            <h1 class="step-header-subtitle">des aides pour votre projet</h1>
        </div>
        
        <div class="step-content">
            <div class="card"></div>
        </div>
        
        <div class="putaclic-column">
            <div class="putaclic-bloc">
                PUTACLIC
            </div>
        </div>

    </div>

</div>