<div class="step">

    <div class="step-eligibilite-confirmation">

        <div class="step-header">
            <h1 class="step-header-title">Estimation</h1>
            <h1 class="step-header-subtitle">des aides pour votre projet</h1>
        </div>
        
        <div class="step-content">
            <div class="cards-column">
                <div class="card eligible-work">
                    <div class="card-header">
                        <div class="work-icon">ICON</div>
                        <div class="work-label">WORK LABEL</div>
                    </div>
                    <div class="card-body">
                        <div class="help-list">
                            <div class="help-list-item">
                                <div class="item-description">
                                    <div class="help-label">Help label</div>
                                    <div class="help-value">Help value</div>
                                </div>
                                <div class="item-info">i</div>
                            </div>
                            <div class="help-list-item">
                                <div class="item-description">
                                    <div class="help-label">Help label</div>
                                    <div class="help-value">Help value</div>
                                </div>
                                <div class="item-info">i</div>
                            </div>
                            <div class="help-list-item">
                                <div class="item-description">
                                    <div class="help-label">Help label</div>
                                    <div class="help-value">Help value</div>
                                </div>
                                <div class="item-info">i</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card not-eligible-work">
                    <div class="card-header">
                        <div class="work-icon">ICON</div>
                        <div class="work-label">WORK LABEL</div>
                    </div>
                    <div class="card-body">
                        <div class="help-list">
                            <div class="help-list-item">
                                <p class="text">Ce projet n'est pas éligible aux aides.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card nothing-eligible">
                    <div class="card-header">
                        <h3 class="title">Vous avez d'autres projets d'économie d'énergie ?</h3>
                    </div>
                    <div class="card-body">
                        <p class="text">Découvrez les aides disponibles pour vos travaux</p>
                    </div>
                    <div class="card-footer">
                        <button>Modifier ma simulation</button>
                    </div>
                </div>
            </div>

            <div class="bloc-promo-column">
                <div class="bloc-promo">
                    PUTACLIC
                </div>
            </div>
        </div>

    </div>

</div>