<app-header [ngClass]="'header'"></app-header>


<app-button ngClass="effy-btn-container h-full-width h-align-content-left" [btnClass]="'primary'" [btnText]="'button primary'"></app-button>

<app-button ngClass="effy-btn-container h-full-width h-align-content-center" [btnClass]="'primary with-icon'" [btnText]="'button primary with-icon'"></app-button>

<app-button ngClass="effy-btn-container h-full-width h-align-content-right" [btnClass]="'primary with-icon disabled'" [btnText]="'button primary with-icon disabled'"></app-button>
