<app-header [ngClass]="'header'"></app-header>

<div class="main-content">

    <div class="demo-block h-mb-32">
        <h1 class="demo-block-title">CTA Primary</h1>
        <div class="demo-block-content h-mb-32">
            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'cta-primary big-on-desktop'" [btnLabel]="'.cta-primary .big-on-desktop'"></app-button>

            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'cta-primary with-icon'" [btnLabel]="'.cta-primary .with-icon'" [btnIcon]="'icon-backarrow'"></app-button>
            
            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'cta-primary disabled'" [btnLabel]="'.cta-primary disabled'"></app-button>        
        </div>
    </div>

    <div class="demo-block h-mb-32">
        <h1 class="demo-block-title">CTA Secondary</h1>
        <div class="demo-block-content h-mb-32">
            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'cta-secondary big-on-desktop'" [btnLabel]="'.cta-secondary .big-on-desktop'"></app-button>

            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'cta-secondary with-icon'" [btnLabel]="'.cta-secondary .with-icon'" [btnIcon]="'icon-backarrow'"></app-button>

            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'cta-secondary disabled'" [btnLabel]="'.cta-secondary disabled'"></app-button>
        </div>
    </div>


    <div class="demo-block h-mb-32">
        <h1 class="demo-block-title">Tag Primary</h1>
        <div class="demo-block-content h-mb-32">
            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'tag-primary big-on-desktop'" [btnLabel]="'.tag-primary .big-on-desktop'"></app-button>

            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'tag-primary with-icon'" [btnLabel]="'.tag-primary .with-icon'" [btnIcon]="'icon-backarrow'"></app-button>

            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'tag-primary disabled'" [btnLabel]="'.tag-primary disabled'"></app-button>
        </div>
    </div>

    <div class="demo-block h-mb-32">
        <h1 class="demo-block-title">Tag Secondary</h1>
        <div class="demo-block-content h-mb-32">
            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'tag-secondary big-on-desktop'" [btnLabel]="'.tag-secondary .big-on-desktop'"></app-button>

            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'tag-secondary with-icon'" [btnLabel]="'.tag-secondary .with-icon'" [btnIcon]="'icon-backarrow'"></app-button>

            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'tag-secondary disabled'" [btnLabel]="'.tag-secondary disabled'"></app-button>
        </div>
    </div>


    <div class="demo-block h-mb-32">
        <h1 class="demo-block-title">Text</h1>
        <div class="demo-block-content h-mb-32">
            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'text-btn big-on-desktop'" [btnLabel]="'.text-btn .big-on-desktop'"></app-button>

            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'text-btn with-icon'" [btnLabel]="'.text-btn .with-icon'" [btnIcon]="'icon-backarrow'"></app-button>

            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'text-btn disabled'" [btnLabel]="'.text-btn disabled'"></app-button>
        </div>
    </div>

    <div class="demo-block h-mb-32">
        <h1 class="demo-block-title">Text / Return</h1>
        <div class="demo-block-content h-mb-32">
            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'text-btn return-btn big-on-desktop'" [btnLabel]="'.text-btn .return-btn .big-on-desktop'" [btnIcon]="'icon-backarrow'"></app-button>

            <app-button ngClass="effy-btn-container h-third-width h-align-content-center" [btnClass]="'text-btn return-btn'" [btnLabel]="'.text-btn .return-btn'" [btnIcon]="'icon-backarrow'"></app-button>
        </div>
    </div>

</div>
