
html, body{
    color: $primary-color;
}

body {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $white;
}

$header-height--desktop : 80px;
$header-height--mobile : 56px;


.main{
    padding: 0 16px;
    display: flex;
    width: 100%;
    min-height: calc(100vh - #{$header-height--mobile});
    margin: $header-height--mobile auto 0;

    @include min-medium{
        min-height: calc(100vh - #{$header-height--desktop});
        margin: $header-height--desktop auto 0;
    }
    
    background: white;

    &.full-width{
        padding: 0;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: gilroyregular, Arial, sans-serif;

    &.regular-width{
        max-width: 1440px;
        padding: 16px 0;
    }

    &.full-width{
        max-width: 100%;
        padding: 0;
    }

}

.section{
    &.full-height{
        height: calc(100vh - #{$header-height--mobile});

        @include min-medium{
            height: calc(100vh - #{$header-height--desktop});
        }
    }
}

.txt-align-right{
    text-align: right;
}

.bg-white{
    background-color: white;
}

.bg-gradient{
    background: linear-gradient(78deg, #00a8a5 34%, #31cda6 74%, #74ffa7 100%);;
}

.c-white{
    color: $white;
}

.m-r-50{
    margin-right: 50px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.layer-container{
    height: 100%;
    position: relative;

    .layer{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        

        .bg-float-img{
            height: 94%;
            margin-top: calc(3vh - 5px);
        }

        .row{
            display: inline-block;
            width: 100%;
        }

        .half{
            display: inline-block;
            width: 80%;
            height: 100%;
        }

        .box-container{
            margin-top: 40px;
        }

        .box{
            display: inline-block;
            padding: 16px;
            border-radius: 8px;

            h1{
                font-size: 60px;
                font-family: $font-black;
            }

            p{
                font-size: 30px;
            }

            b{
                font-family: $font-bold;
            }
        }
    }

    .bgimg-container {
        display: inline-block;
        width: 57%;
        height: 90%;
        border-radius: 8px;
        margin-top: calc(5vh - 5px);
        float: right;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .bgimg-container-content{
        height: 100%;
        position: relative;

        .left{
            position: absolute;
            left: -75%;

            .main-box{
                padding: 20px 24px;
                line-height: 1.18;
                margin-right: -7%;
            }

            .scnd-box{
                line-height: 1.38;
            }
        }

        .right{
            .box{
                position: relative;
                top: 22%;
                left: 2%;
                width: 70%;

                .box-title{
                    font-size: 28px;
                    font-family: $font-bold;
                }

                .box-txt{
                    font-size: 20px;
                    font-family: $font-regular;
                    margin: 16px 0;
                }

                .outerbox{
                    position: absolute;
                    top: 86%;
                    right: -40px;

                    padding: 16px;
                    border-radius: 8px;
                }
            }
        }
    }
}

.demo-block{
    display: flex;
    flex-direction: column;

    &-title{
        margin-bottom: 24px;
        font-family: $font-bold;
        text-transform: uppercase;
    }
}