
html, body{
    color: $primary-color;
}

body {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $white;
}

$header-height--desktop : 80px;
$header-height--mobile : 56px;


.main{
    padding: 0 16px;
    display: flex;
    width: 100%;
    min-height: calc(100vh - #{$header-height--mobile});
    margin: $header-height--mobile auto 0;

    @include min-medium{
        min-height: calc(100vh - #{$header-height--desktop});
        margin: $header-height--desktop auto 0;
    }
    
    background: red;

    &.full-width{
        padding: 0;
    }
}

.main-content {
    display: flex;
    flex-direction: column;

    font-family: gilroyregular, Arial, sans-serif;

    &.regular-width{
        max-width: 1440px;
        padding: 16px 0;
    }

    &.full-width{
        max-width: 100%;
        padding: 0;
    }

}

.section{
    &.full-height{
        height: calc(100vh - #{$header-height--mobile});

        @include min-medium{
            height: calc(100vh - #{$header-height--desktop});
        }
    }
}

.layer-container{
    height: 100%;

    .layer{
        height: 100%;
    }
}

.demo-block{
    display: flex;
    flex-direction: column;

    &-title{
        margin-bottom: 24px;
        font-family: $font-bold;
        text-transform: uppercase;
    }
}