
html, body{
    color: $primary-color;
}

body {
    background-color: $graySc-1;
    min-height: 100vh;
}



.main-content {
    max-width: 1440px;
    min-height: 100vh;
    padding: 110px 16px 16px;
    font-family: gilroyregular, Arial, sans-serif;
    background: white;
    display: flex;
    flex-direction: column;
}

.demo-block{
    display: flex;
    flex-direction: column;

    &-title{
        margin-bottom: 16px;
        font-family: $font-bold;
        text-transform: uppercase;
    }
}