@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100;
    src: url('~/dist/assets/fonts/NotoSans-SemiCondensedThin.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 200;
    src: url('~/dist/assets/fonts/NotoSans-SemiCondensedExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: url('~/dist/assets/fonts/NotoSans-SemiCondensedLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('~/dist/assets/fonts/NotoSans-SemiCondensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url('~/dist/assets/fonts/NotoSans-SemiCondensedMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url('~/dist/assets/fonts/NotoSans-SemiCondensedSemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('~/dist/assets/fonts/NotoSans-SemiCondensedBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    src: url('~/dist/assets/fonts/NotoSans-SemiCondensedExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
    src: url('~/dist/assets/fonts/NotoSans-SemiCondensedBlack.ttf') format('truetype');
}